<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
  <h1 class="mt-2 text-6xl dmdisplay font-bold text-gray-900 text-center">
    Questions fréquentes
  </h1>
  <div class="mt-12 text-center">
    <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-12 lg:grid-cols-3">
      <div>
        <dt class="text-2xl dmdisplay leading-6 font-bold text-indigo-600">
        Que promet Wizzy ?
        </dt>
        <dd class="mt-5 text-normal underline ">
            <p class= "hover:text-indigo-600">
            <%= link_to "Comment vais-je décourvrir la personne que je recherche?", anchor: "vraag1" %>
            </p> 
            <p class= "hover:text-indigo-600">
            <%= link_to "Quelle est la fiabilité de vos tests?", anchor: "vraag2" %>
            </p> 
            <p class= "hover:text-indigo-600">
            <%= link_to "Qu'est ce qu’une personnalité?", anchor: "vraag3" %>
            </p> 
            <p class= "hover:text-indigo-600">
            <%= link_to "Je n’ai pas envie de faire le test, comment on peut faire?", anchor: "vraag4" %>
            </p>  
            <p class= "hover:text-indigo-600">
            <%= link_to "Si j’ai 5 profils différents?", anchor: "vraag5" %>
            </p>  
        </dd>
      </div>
      <div>
        <dt class="text-2xl dmdisplay leading-6 font-bold text-indigo-600">
          Que fait Wizzy ? 
        </dt>
        <dd class="mt-5 text-normal underline ">
            <p class= "hover:text-indigo-600">
            <%= link_to "Notre identité visuelle est d’une certaine couleur, on veut garder ça.", anchor: "vraag1" %>
            </p> 
            <p class= "hover:text-indigo-600">
            <%= link_to "Comment se déroule une campagne ?", anchor: "vraag1" %>
            </p> 
            <p class= "hover:text-indigo-600">
            <%= link_to "Comment se passe le ciblage ?", anchor: "vraag1" %>
            </p> 
            <p class= "hover:text-indigo-600">
            <%= link_to "Si tout est correct mais que ça ne correspond pas lors de l’interview ?", anchor: "vraag1" %>
            </p>  
        </dd>
      </div>
      <div>
        <dt class="text-2xl dmdisplay leading-6 font-bold text-indigo-600">
        Que va solutionner Wizzy ? 
        </dt>
        <dd class="mt-5 text-normal underline ">
            <p class= "hover:text-indigo-600">
            <%= link_to "Mais moi ça se passe très bien aujourd’hui, pourquoi utiliser votre solution ?", anchor: "vraag1" %>
            </p> 
            <p class= "hover:text-indigo-600">
            <%= link_to "Si je veux changer de personnalité en cours de campagne, comment ça se passe ?", anchor: "vraag1" %>
            </p> 
            <p class= "hover:text-indigo-600">
            <%= link_to "Qu'est ce qui vous différencie des sites d'emploi traditionels ?", anchor: "vraag1" %>
            </p>  
        </dd>
      </div>

        <!-- More questions... -->
      </dl>
    </div>
  </div>
</div>
</div>

<div class="bg-indigo-700 w-full mx-auto py-5 px-4 sm:py-24 sm:px-6 lg:px-8">
<h2 class="text-6xl dmdisplay font-extrabold text-white text-center pb-5">
Vous avez des questions spécifiques ? <br><br>Appelez le 02 486 11 40
</h2>
</div>  

<div class="max-w-3xl mx-auto py-5 px-4 sm:py-24 sm:px-6 lg:px-8">
<h2 class="text-5xl dmdisplay font-extrabold text-gray-900 text-center pb-5">
Que promet Wizzy ?
</h2>
<p class="text-left text-2xl font-medium p-5" id="vraag1">
    <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Comment vais-je décourvrir la personne que je recherche ?</span> Nous allons réaliser un test de personnalité ensemble afin que vous puissez découvrir la personne que vous recherchez réellement. Ceci est une étape primordiale de notre processus.
</p>
<p class="text-left text-2xl font-medium p-5" id="vraag2">
    <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Quelle est la fiabilité de vos tests ?</span> La fiabilité est avérée, nous avons combiné deux études pour créer la notre, avec un algorithme bien précis en fonction des réponses. Ces réponses donnent un résultat qui correspond aux 5 aspects de la personnalité. Grâce à cela, nous savons exactement quel type de personnalité vous recherchez.
</p>
<p class="text-left text-2xl font-medium p-5" id="vraag3">
    <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Qu'est ce qu’une personnalité ?</span> Une personnalité est la manière dont nous pouvons définir une personne, ceci regroupe ses affinités, sa manière d'être et se comporter dans sa vie professionnelle et personnelle. L’humanité se penche dessus depuis des milliers d’années, après de nombreuses études nous pouvons désormais en distinguer 16.
</p>
<p class="text-left text-2xl font-medium p-5" id="vraag4">
    <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Je n’ai pas envie de faire le test, comment on peut faire ?</span> Donnez plusieurs traits de caractères du candidat souhaité, et nous pouvons vous guider également car nous maîtrisons chacune des personnalité et savons d’ores et déjà, grâce à nos études, quels sont les métiers qui correspondent plus ou moins à quelle personnalité.
</p>
<p class="text-left text-2xl font-medium p-5" id="vraag5">
    <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Que se passe-t-il si j’ai 5 profils différents ?</span> Nous effectuerons alors 5 campagnes, car chacune de nos campagnes est conçue pour une personne (personnalité).
</p>
<h2 class="text-5xl dmdisplay font-extrabold text-gray-900 text-center pb-5 pt-10">
  Que fait Wizzy ? 
  </h2>
  <p class="text-left text-2xl font-medium p-5 " id="vraag6">
      <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Notre identité visuelle est d’une certaine couleur, on veut garder ça.</span>Pas de soucis, seulement si votre logo ne correspond pas du tout aux couleurs que nous préconisons, vous ne pourrez pas nous reprocher une.
  </p>
  <p class="text-left text-2xl font-medium p-5" id="vraag7">
      <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Comment se déroule une campagne ?</span> Tout d’abord, on regarde qui on doit chercher, ensuite on effectue les bannières, et après on fait la campagne.
  </p>
  <p class="text-left text-2xl font-medium p-5" id="vraag8">
      <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Comment se passe le ciblage ?</span> Nous effectuons un ciblage bien particulier sur chaque canal, nous disposons de différents critères en fonction des différents canaux. Nos études nous ont permis de correctement définir en amont quels critères étaient les plus pertinents. Nous nous basons sur la personnalité, la génération et le CV.
  </p>
  <p class="text-left text-2xl font-medium p-5" id="vraag9">
      <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Si tout est correct mais que ça ne correspond pas lors de l’interview ?</span> Nous ne pouvons pas être garant de certains aspects tels que la motivation ou d'autres facteurs. Nous vous garantissons d’atteindre les candidats qui correspondent au profil défini par le test de personnalité.
  </p>
  <h2 class="text-5xl dmdisplay font-extrabold text-gray-900 text-center pb-5 pt-10">
    Que va solutionner Wizzy ?
  </h2>
  <p class="text-left text-2xl font-medium p-5 " id="vraag10">
      <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Mais moi ça se passe très bien aujourd’hui, pourquoi utiliser votre solution ?</span> Vous voulez dire quoi par très bien ? Ne vous est-il jamais arrivé de recruter une personne qui finalement ne faisait pas l’affaire ? Combien de temps mettez-vous pour recruter les postes les plus difficiles ? Ou même votre budget, à combien s'élève-t-il ? Pour toutes ces raisons, notre solution peut s’avérer être très intéressante pour vous.
  </p>
  <p class="text-left text-2xl font-medium p-5" id="vraag11">
      <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Si je veux changer de personnalité en cours de campagne, comment ça se passe ?</span> Nous pouvons adapter notre ciblage et notre contenu, mais si le test est bien effectué, nous atteindrons les personnes qui correspondent à vos attentes.
  </p>
  <p class="text-left text-2xl font-medium p-5" id="vraag12">
      <span class="rounded-md p-1 bg-gradient-to-r from-yellow-200 to-red-100">Qu'est ce qui vous différencie des sites d'emploi traditionels ?</span> Cela n'a rien a voir, car les sites d'emplois vous vendent un espace pour publier votre annonce. Chez Wizzy, nous pronons en charge votre campagne de A à Z, diffusons votre annonce sur les canaux pertients et établissons toute la stratégie de communication. 
  </p>
</div>